body{
margin : 0;
padding : 0;
background-color : #00cbff;
}

h1 {
top: 50%
transform: translateY(-50%);
margin: 0;
padding: 0;
width: 100%;
text-align: center;
font-size : 75px;
font-family: sans-serif;
background: linear-gradient(to right, #f321ff, #ffeb82, #2196ff, #ee82ee);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;

}
p {
	font-size: 20px;
	margin: 50px;
	background-color : white;
	color: #e0a2ff;
	font-family: Arial, Helvetica, sans-serif;
}

img {
	border-radius: 50%;
	width : 300px;
	height : 300px;
}